<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Ownpress
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-sun-flower">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('home')}}">Ownprogress</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('home')}}">
								<i class="fas fa-home"></i> home
							</a>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('training_index')}}">
									<i class="fas fa-walking"></i>
									training</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('training_new') }}">new training</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('exercice_new') }}">new exercice</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> logout</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_register') }}"><i class="fas fa-registered"></i> register</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
</html>