{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
    {% if app.user %}
        <li>Your controller at <code><a href="{{ path('training_index')}}">training</a></code></li>
        <li>Your controller at <code><a href="{{ path('training_new') }}">new training</a></code></li>
    {% else %}
        <li><a href="{{ path('app_login') }}">connexion</a></li>
        <li><a href="{{ path('app_register') }}">register</a></li>
    {% endif %}

    </ul>
</div>
{% endblock %}
