{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block body %}
    <h1 class="title">Training index</h1>
    <p class="text-center"><a class="btn bg-color" href="{{ path('training_new') }}">Create new <i class="fas fa-plus"></i></a></p>
    <table class="table table-theme">
        <thead>
            <tr>
                <th>Id</th>
                <th>Is_realized</th>
                <th>Date_training</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.id }}</td>
                <td>{{ training.isRealized ? 'Yes' : 'No' }}</td>
                <td>{{ training.dateTraining ? training.dateTraining|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('training_show', {'id': training.id}) }}"><i class="fas fa-eye"></i></a> |
                    <a href="{{ path('training_edit', {'id': training.id}) }}"><i class="fas fa-pen-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">you have nothing training</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
