{% extends 'base.html.twig' %}

{% block title %}Training{% endblock %}

{% block body %}
    <h1 class="title">Training</h1>
    <table class="table table-theme">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ training.id }}</td>
            </tr>
            <tr>
                <th>Is_realized</th>
                <td>{{ training.isRealized ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date_training</th>
                <td>{{ training.dateTraining ? training.dateTraining|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Exercice</th>
                {% for exercice in training.exercice %}
                <td>{{exercice.name}}</td>
                {% endfor %}
                
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
    <p class="text-center p-4"><a class="btn bg-color" href="{{ path('training_index') }}">Back to list <i class="fas fa-hand-point-left"></i></a></p>
    <p class="text-center p-4"><a class="btn bg-color" href="{{ path('training_edit', {'id': training.id}) }}">edit <i class="fas fa-pen-alt"></i></a></p>

    {{ include('training/_delete_form.html.twig') }}
    </div>
{% endblock %}
